:root {
  --light-bg-color: #FFF0F1;
  --medium-bg-color: #FFD6EE;
  --dark-bg-color: #FFA5D6;

  --light-accent-color: #ECD2E0;
  --medium-accent-color: #CED1F8;
  --dark-accent-color: #A7ABDE;

  --primary-font: Montserrat;
  --fallback-font: Arial;
}

#config {
  display: flex;
  flex-direction: row;

  & > div, form {margin: 10px;}

  & h1 {color: var(--dark-accent-color);}
}

.stats {
  background-color: var(--light-accent-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.content {
  background-color: var(--medium-bg-color);
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > p {
    background-color: var(--light-bg-color);
    color: #FF66B9;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 350px;
    height: fit-content;
    font-weight: 500;
  }

  & > h1, h2, h3, h4, h5, h6 {
  color: var(--dark-accent-color);
  }
}

body {
  background-color: var(--light-bg-color);
  font-family: var(--primary-font), var(--fallback-font);
}

button {
    background-color: var(--dark-bg-color);
    color: #fff;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #FF66B9;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--light-accent-color);
  padding: 20px;
  width: fit-content;
  min-width: 400px;
  box-sizing: border-box;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  & input[type=number] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: textfield;
  }
}

