:root {
  --primary-bg-color: #FFF0F1;
  --darker-accent-color: #A7ABDE;

  --primary-font: Montserrat;
  --fallback-font: Arial;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font), var(--fallback-font);
}

h1, h2, h3, h4, h5, h6 {
  color: red;
}
